*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100dvw;
}
/*
#AAABD3 sub1
#CBA6C3 sub2
#F8FAFF background
#353866 font
*/
#collision{
    width: 100dvw;
    height: 100dvh;
    background-color: #f8faff;
    position: relative;
    top: 0px;
}

#contents{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
}
nav {
    width: calc(100dvw - 200px);
    height: calc(100dvh - 140px);
    position: relative;
    margin: 70px 100px 70px 100px;
}
#title{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #CBA6C3;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}
#title > p {
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}
#title1 {
    font-size: 100px;
    line-height: 100px;
    color: #353866;
    align-self: start;
}
#title2 {
    font-size: 50px;
    line-height: 50px;
    color: #f8faff;
    align-self: flex-end;
}
#hint {
    width: 400px;
    height: 50px;
    position: absolute;
    bottom: 360px;
    background-color: #CBA6C3;
    z-index: 0;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hint > p{
    color : white;
    font-weight: bold;
}
#photo {
    z-index: 1;
    width: 300px;
    height: 300px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
    position: absolute;
    left: 50px;
    bottom: 50px;
    background-color: #CBA6C3;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#photo > img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
}
#anchors{
    width: calc(100dvw - 550px);
    height: 350px;
    right: 0px;
    bottom: 10px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#anchors > a {
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
    border-radius: 50%;
    font-weight: bold;
    font-size: 50px;
    background-color: #CBA6C3;
    color: #353866;
    text-shadow: 0.1em 0.1em 0.05em white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

#projects { 
    width: 100dvw;
    height: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectsBoard {
    width: calc(100dvw - 140px);
    height: calc(100dvh - 140px);
    position: relative;
    background-color: #CBA6C3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectTitles {
    width: 10%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#projectTitles > div {
    width: 100%;
    height: 30%;
    background-color: #f8faff;
    border: 2px solid #353866;
    border-right: 0px solid #353866;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectTitles > div > p {
    font-size: 25px;
    font-weight: bold;
}

#pages {
    width: 80%;
    height: 90%;
    position: relative;
    background-color: #f8faff;
    border-radius: 20px;
    border: 2px solid #353866;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#pages > div {
    width: 45%;
    height: 90%;
    position: relative;
    border: 2px solid #353866;
    border-radius: 20px;
}

#introduces {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introducesBoard {
    width: calc(100dvw - 140px);
    height: calc(100dvh - 140px);
    position: relative;
    background-color: #CBA6C3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 90%;
    height: 90%;
    position: relative;
    
}

footer {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#criticalTitle {
    width: calc(50dvw - 140px);
    height: calc(100dvh - 140px);
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerBoard {
    width: calc(50dvw - 140px);
    height: calc(100dvh - 140px);
    position: relative;
    background-color: #CBA6C3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1200px) {
    nav {
        width: calc(100dvw - 100px);
        height: calc(100dvh - 60px);
        position: relative;
        margin: 30px 50px 30px 50px;
    }

    #photo {
        left: calc( 50% - 150px );
        bottom: 0px;
    }

    #anchors{
        width: calc(100dvw - 100px);
        height: calc(50dvh - 30px);
        left: 50px;
        bottom: 50px;
        align-items:flex-end;
    }

    #projectsAnchor{
        position: absolute;
        bottom: 190px;
        left: calc(33dvw - 120px);
    }

    #experiencesAnchor{
        align-self: flex-start;
    }

    #introducesAnchor{
        position: absolute;
        bottom: 190px;
        right: calc(33dvw - 120px);
    }

}
@media (max-width:850px) {
    #title {
        padding: 10px;
    }

    #title1 {
        font-size: 70px;
    }

    #title2 {
        font-size: 35px;
    }

    #photo {
        width: 200px;
        height: 200px;
        left: calc( 50% - 100px );
    }

    #anchors {
        height: calc(40dvh - 50px);
    }

    #anchors > a {
        width: 80px;
        height: 80px;
        font-size: 20px;
    }

    #projectsAnchor {
        bottom: 140px;
        left: calc(33dvw - 100px);
    }

    #introducesAnchor {
        bottom: 140px;
        right: calc(33dvw - 100px);
    }

}

@media (max-width:550px) {
    #title1 {
        font-size: 50px;
    }

    #title2 {
        font-size: 25px;
    }
    
    #photo {
        width: 120px;
        height: 120px;
        left: calc( 50% - 60px );
        bottom: 30px;
    }

    #anchors {
        height: calc(35dvh - 50px);
    }
    #projectsAnchor {
        bottom: 110px;
        left: calc(33dvw - 100px);
    }

    #introducesAnchor {
        bottom: 110px;
        right: calc(33dvw - 100px);
    }
}